.banner {
    background-color: grey;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.banner-text {
    font-size: 35px;
    padding: 0px 50px;
    width: 800px;
}

footer {
    padding: 50px;
}

ul.line-list, ol.line-list {
    list-style-type: none;
    padding: 0;
    line-height: 40px;
}

.emoji {
    width: 24px;
    height: 24px;
}
